*, *::before, *::after{
    margin:0;
    outline: 0;
}

/*Organizando e limitando blocos*/

.container{
    width: 80%;
    margin: 0 auto;
}


/*Estilizando header*/

header{
    background:#3A345C;
    position: fixed;
    width: 100%;
}

header > .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}
header > .flex > div{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 60px;
    color: white;
}

.logo > span{
    color: #CF00F1;
}

.circle{
    width: 3em;
    height: 3em;
    background: RGB(75,70,106);
    border-radius: 100%;
    position: absolute;
    left: 0;
}

#toggle-menu{
    background: transparent;
    border: 0;
    width: 100%;
    height: 100%;
}

.hamburguer{
    width: 50%;
    position: relative;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after{
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburguer::before,
.hamburguer::after{
    width: 100%;
    content: '';
}

.hamburguer::before{
    transform: translateY(-6px);
}

.hamburguer::after{
    transform: translateY(3px);
}

.nav{
    max-height: 0;
    transition: max-height 1s ease-in-out;
}

.nav .nav--list-item{
    list-style: none;
    text-align: center;
    margin-top: 2em;
}

.showing-nav{
    transition: max-height 1s ease-in-out;
    max-height: 260px;
}

.nav .nav--list,
.nav .nav--list-item{
    visibility: hidden;
    margin: 0px;
    opacity: 0;
    transition: visibility 0s linear, margin 1s linear;
}

.showing-nav .nav--list,
.showing-nav .nav--list-item{
    transition: visibility 0s, opacity 1.5s ease-in;
    opacity: 1;
    visibility: visible;
}

.showing-nav .nav--list-item{
    list-style: none;
    text-align: center;
    margin-top:2em;
}

.showing-nav .nav--list{
    padding: 0;
    padding-bottom:2em;
}

.nav--list-item > a{
    text-decoration:none;
    text-transform: uppercase;
    font-size: 1em;
    color: white;
    letter-spacing: 1px;
}



.nav--list-item a.active{
    border-bottom: #CF00F1 2px solid;
}

/*Estilizando CTA*/

.cta{
    height: 100vh;
    display: flex;
    align-items: center;
    background: #4b466a;
    color: white;
}

.cta-title{
    font-size: 30px;
    padding: 1.5rem 0;
}

.cta-title span{
    color: #CF00F1;
}

.cta-details{
    font-size: 1.5em;
    text-align: center;
}

.cta-details p{
    text-align: left;
}

.cta-details button{
    margin-top:2rem;
    padding: .5rem 3rem;
    color: white;
    background-color: #CF00F1;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    font-size: 1em;

}

.cta-details span{
    color: #CF00F1;
    font-weight: bolder;
}


/*Estilizando a seção de animações*/


.animations .container{
    width: 90%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container > p{
    width: 60%;
    margin-top: 5px;
}

.container .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    margin-top:2rem
}

.card p {
    margin: 1rem 0;
    width: 8rem;
    color:#444;
}

.card p:last-child{
    color: black;
}

.card a{
    color: black;
    border-bottom: black 1px solid;
    text-decoration: none;
    margin-top: 1rem
}


/*responsividade para tablets e desktop de pequeno e médio porte*/
@media (min-width:600px){
    
    .container > h3{
        font-size:35px
    }
    
    .container > p{
        font-size: 20px;
    }

    .card{
        margin-top: 4rem;
    }

    .card > h4{
        font-size: 20px;
    }

    .cta .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cta-title{
        width: 40%;
    }

    .cta-details{
        width: 40%;
    }

    .cta-details button{
        padding: 1rem 2rem;
    }
}

@media (min-width:800px){

    .container{
        width:85%;
    }

    .nav{
        max-height: 260px;
        height: 100%;
        width: 75%;
    }

    .nav--list{
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 100%;
        max-height: 100%;
        padding: 0;
    }

    .nav .nav--list,
    .nav .nav--list-item{
        opacity: 1;
        visibility: visible;
    }

    .circle{
        display: none;
    }

    .card p {
        width: 12rem;
    }    

    .card p:last-child{
        width: 100%;
        text-align: center;
    }

    header > .flex > div{
        width: 10%;
    }

    header > .flex{
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

}

@media (min-width:1200px){
    .container{
        width: 80%;
    }

    .nav{
        width: 65%;
    }

    .cta-title{
        font-size: 45px;
    }

    .cta-details{
        font-size: 2.4em;
    }
}